n8n-workflows/B_VisionTool.json
{
  "name": "B_VisionTool",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tool/vision",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "vision-tool-webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst request_id = body.request_id || 'unknown';\nconst images = Array.isArray(body.images) ? body.images : [];\nreturn [{ json: { request_id, images } }];"
      },
      "id": "b-prepare",
      "name": "PreparePayload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://torch-infer:8000/vision/detect",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ request_id: $json.request_id, images: $json.images }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "b-http",
      "name": "TorchInfer Vision",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "b-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [910, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "PreparePayload", "type": "main", "index": 0 }]
      ]
    },
    "PreparePayload": {
      "main": [
        [{ "node": "TorchInfer Vision", "type": "main", "index": 0 }]
      ]
    },
    "TorchInfer Vision": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "active": true
}
