n8n-workflows/C_TextTool.json
{
  "name": "C_TextTool",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tool/text",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "text-tool-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://torch-infer:8000/text/classify",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ request_id: $json.body.request_id || 'unknown', text: $json.body.text || '' }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "c-http",
      "name": "TorchInfer Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "c-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [690, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "TorchInfer Text", "type": "main", "index": 0 }]
      ]
    },
    "TorchInfer Text": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "active": true
}
