n8n-workflows/D_ReportTool.json
{
  "name": "D_ReportTool",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tool/report",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "d-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "report-tool-webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst request_id = body.request_id || 'unknown';\nconst vision_result = body.vision_result || null;\nconst text_result = body.text_result || null;\nconst trace = body.trace || [];\n\nconst sysPrompt = 'You are a report writer. Use ONLY the provided tool outputs. Do not hallucinate.\\nOUTPUT: JSON only. No markdown, no code fences.\\nYou MUST provide a non-empty \"summary\" (1-2 sentence human-readable summary of findings).\\nYou MUST provide at least one \"recommendations\" entry based on the findings.\\nSCHEMA: {\"request_id\":\"\",\"summary\":\"...\",\"findings\":{\"vision\":{\"top_objects\":[],\"details\":[]},\"text\":{\"label\":null,\"confidence\":null,\"entities\":[]}},\"recommendations\":[\"...\"],\"trace\":[],\"errors\":[]}';\n\nlet user = 'request_id=' + request_id;\nif (vision_result) {\n  const objs = (vision_result.detections || []).flatMap(d => (d.objects || []).map(o => o.label + ':' + (o.score || 0).toFixed(2))).slice(0, 10);\n  user += ' VISION=[' + objs.join(',') + ']';\n} else {\n  user += ' VISION=NONE';\n}\nif (text_result) {\n  const c = text_result.classification || {};\n  user += ' TEXT=' + (c.label || 'unknown') + ':' + (c.confidence || 0).toFixed(2);\n  const ents = (text_result.entities || []).map(e => e.type + ':' + e.value).slice(0, 10);\n  if (ents.length > 0) user += ' ENTITIES=[' + ents.join(',') + ']';\n} else {\n  user += ' TEXT=NONE';\n}\nuser += ' TRACE=' + JSON.stringify(trace);\nuser += ' Write summary and at least one recommendation.';\n\nreturn [{ json: { request_id, trace, vision_result, text_result, llm_payload: { model: 'local-llama', messages: [{ role: 'system', content: sysPrompt }, { role: 'user', content: user }], temperature: 0.1, max_tokens: 512 } } }];"
      },
      "id": "d-build",
      "name": "BuildReportInputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://llm-server:8080/v1/chat/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.llm_payload) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "d-llm",
      "name": "LLM ReportWriter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "jsCode": "const buildInput = $('BuildReportInputs').first().json;\nconst llmResp = $input.first().json;\nlet report;\ntry {\n  let content = llmResp.choices[0].message.content;\n  content = content.replace(/^[\\s\\S]*?\\{/, '{');\n  const lastBrace = content.lastIndexOf('}');\n  if (lastBrace !== -1) content = content.substring(0, lastBrace + 1);\n  report = JSON.parse(content);\n} catch (e) {\n  report = { request_id: buildInput.request_id, summary: '', findings: {}, recommendations: [], trace: buildInput.trace || [], errors: ['LLM parse error: ' + e.message] };\n}\n\nreport.request_id = report.request_id || buildInput.request_id;\n\n// Ensure summary is non-empty; generate fallback from tool outputs\nif (typeof report.summary !== 'string' || !report.summary.trim()) {\n  const parts = [];\n  const vr = buildInput.vision_result;\n  if (vr && vr.detections) {\n    const labels = vr.detections.flatMap(d => (d.objects || []).map(o => o.label));\n    if (labels.length > 0) parts.push('Vision detected: ' + [...new Set(labels)].slice(0, 5).join(', '));\n  }\n  const tr = buildInput.text_result;\n  if (tr && tr.classification) {\n    parts.push('Text classified as ' + tr.classification.label + ' (' + (tr.classification.confidence * 100).toFixed(0) + '% confidence)');\n  }\n  report.summary = parts.length > 0 ? parts.join('. ') + '.' : 'Analysis completed with no significant findings.';\n}\n\n// Ensure findings structure\nif (!report.findings || typeof report.findings !== 'object') report.findings = {};\nif (!report.findings.vision || typeof report.findings.vision !== 'object') report.findings.vision = { top_objects: [], details: [] };\nif (!Array.isArray(report.findings.vision.top_objects)) report.findings.vision.top_objects = [];\nif (!Array.isArray(report.findings.vision.details)) report.findings.vision.details = [];\n\n// Fill vision top_objects from source data if LLM left them empty\nconst vr = buildInput.vision_result;\nif (vr && vr.detections && report.findings.vision.top_objects.length === 0) {\n  const labels = vr.detections.flatMap(d => (d.objects || []).map(o => o.label));\n  report.findings.vision.top_objects = [...new Set(labels)].slice(0, 10);\n}\n\n// Ensure text findings structure\nif (!report.findings.text || typeof report.findings.text !== 'object') report.findings.text = { label: null, confidence: null, entities: [] };\nconst tr = buildInput.text_result;\nif (tr && tr.classification) {\n  if (!report.findings.text.label) report.findings.text.label = tr.classification.label;\n  if (!report.findings.text.confidence) report.findings.text.confidence = tr.classification.confidence;\n}\nif (report.findings.text.label === undefined) report.findings.text.label = null;\nif (report.findings.text.confidence === undefined) report.findings.text.confidence = null;\nif (!Array.isArray(report.findings.text.entities)) report.findings.text.entities = [];\n\n// Fill entities from text_result if LLM left them empty\nif (tr && Array.isArray(tr.entities) && report.findings.text.entities.length === 0) {\n  report.findings.text.entities = tr.entities.map(e => e.value || e);\n}\n\n// Ensure recommendations is non-empty; generate fallback\nif (!Array.isArray(report.recommendations) || report.recommendations.length === 0) {\n  report.recommendations = [];\n  if (vr && vr.detections) {\n    const hasPersons = vr.detections.some(d => (d.objects || []).some(o => o.label === 'person'));\n    if (hasPersons) report.recommendations.push('Review detected persons in the image for safety compliance.');\n    const allLabels = vr.detections.flatMap(d => (d.objects || []).map(o => o.label));\n    if (allLabels.length > 0) report.recommendations.push('Verify detected objects (' + [...new Set(allLabels)].slice(0, 3).join(', ') + ') against expected conditions.');\n  }\n  if (tr && tr.classification) {\n    const lbl = tr.classification.label;\n    if (lbl === 'safety_hazard') report.recommendations.push('Immediate safety review recommended based on text classification.');\n    else if (lbl === 'maintenance_issue') report.recommendations.push('Schedule maintenance inspection based on text classification.');\n    else if (lbl === 'equipment_failure') report.recommendations.push('Investigate potential equipment failure indicated by text analysis.');\n    else report.recommendations.push('Continue monitoring; text classified as ' + lbl + '.');\n  }\n  if (report.recommendations.length === 0) report.recommendations.push('No actionable items identified; continue standard monitoring.');\n}\n\nif (!Array.isArray(report.trace)) report.trace = buildInput.trace || [];\nif (!Array.isArray(report.errors)) report.errors = [];\n\nreturn [{ json: report }];"
      },
      "id": "d-validate",
      "name": "ValidateReportJSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "BuildReportInputs", "type": "main", "index": 0 }]] },
    "BuildReportInputs": { "main": [[{ "node": "LLM ReportWriter", "type": "main", "index": 0 }]] },
    "LLM ReportWriter": { "main": [[{ "node": "ValidateReportJSON", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": true
}
